.profile--container {
  .profile--header {
    max-width: 100vw;
    padding-inline: 1rem;
    padding-top: 1rem;
    display: flex;
    gap: 0.5rem;

    img {
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
    }

    .profile--info {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      h1 {
        font-size: 1rem;
        font-weight: bold;
      }

      h2 {
        font-size: 0.875rem;
      }

      .profile--bio {
        display: inline-block;
        max-width: calc(100vw - 8.5rem);
        white-space: normal;
        overflow-wrap: break-word;
        word-break: break-word;
        height: 4.75rem;
      }

      .profile--stats {
        display: flex;
        gap: 0.5rem;
      }
    }
  }

  .profile--tabs {
    width: 100%;
    border-bottom: 1px solid #8f8f8f;
    display: flex;
    gap: 0.75rem;
    align-items: center;

    .profile--tab {
      display: inline-block;
      border-bottom: 3px solid #ad68f6;
      padding: 0.375rem 0.5rem;
      vertical-align: middle;
      margin-left: 1rem;
    }

    h1 {
      display: inline-block;
      font-size: 0.875rem;
    }
  }

  .profile--posts {
    width: 100%;
  }
}
