.profile-container {
  width: calc(100% - 32px);
  display: flex;
  flex-direction: column;
  padding: 16px;

  .profile-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
    .profile-item {
      padding: 8px;
      border: 2px solid #d9d9d9;
      border-radius: 8px;
    }
  }
}
